.message {
display: flex;
    flex-direction: row-reverse;
    justify-content:flex-start;
}

.imageAndText {
display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid #e0b496;
}

.imageAndText img {
    background-color: #ea8cc7;
    width: 70px;
    height: 70px;
    border: 3px solid mediumvioletred;
    border-radius: 40px;
}

.text {
    display: flex;
    width: 400px;
    height: 70px;
    border: 1px solid #234cdc;
    background-color: #234cdc;
    border-radius: 10px;
    color: white;
    word-break: break-all;

}

.text:after {

}

.name {

}

.messageText {

}

.time {

}