.message {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.frame{
    display: flex;
    align-items: flex-end;
}

.imageAndText {
}

.imageAndText img {
    background-color: #ea8cc7;
    width: 70px;
    height: 70px;
    border: 3px solid mediumvioletred;
    border-radius: 40px;
}

.text {
    width: 350px;
    min-height: 70px;
    border: 1px solid #234cdc;
    background-color: #234cdc;
    border-radius: 10px 10px 0px 10px;
    color: white;
}

.big2In1 {
    width: 25px;
    height: 25px;
    background-color: #234cdc;
}

.smal2In1 {
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 0px 0px 0px 60px;
    background-color: white;
}

.text:after {

}

.name {
    display: flex;
    justify-content: flex-end;
}

.messageText {
    word-wrap: break-word;
    white-space: break-spaces;
}

.timeCommon {
margin-left: 94%;
}
.time {
font-size: 13px;
    font-weight: bold;
}