.sidebar {
    position: absolute;
    width: 270px;
    height: 100%;
    background-color: #f9f9fb;


}
.active {
    color: #fc8c03;
    text-decoration: none;
}
.sidebar.open {
}

.background {

}
.open{
    text-decoration: none;
    font-weight: bold;
    color: #0a54a0;
}


.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-size: 30px;

}

.nav a {
}

.nav a:hover {
}

.nav a.active {
}
.close {
  margin-left: 50%;
    background-color: #fc8c03;
}

.close img {
}
