.burgerMenuIcon {
    margin-left: 16%;
margin-top: 14px;
}

.header {
    margin-top: 2%;
    display: flex;

}

.headerH1 {
    font-family: 'Montserrat';
    font-style: normal;
    margin-left: 70%;
}